pip install asgiref
pip install bootstrap4
pip install colorama
pip install django
pip install django-crispy-forms
pip install django-mathfilters
pip install et-xmlfile
pip install openpyxl
pip install PIL
pip install pyzbar
pip install qrcode
pip install sqlparse
pip install tzdata
