<div id="div_receipt_table">
	<div style="height: 200px; overflow-y: scroll;" class="form-group">
		<h5>Receipts</h5>
		<table class="table table-bordered table-hover" style="table-layout: fixed;" id="receipt_table">
			<thead>
				<tr>
					<td style="width: 400px;">Receipt No.</td>
					<td style="width: 300px;">Type</td>
					<td style="width: 300px;">Date</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<button class="btn btn-success mb-2" id="add_receipt" data-target = "#myModal" data-toggle="modal" onclick="addReceipt(event)">Add Receipt</button>
</div>
