<div>
	<div style="height: 200px; overflow-y: scroll;" class="form-group">
		<h5>Items</h5>
		<table class="table table-bordered table-hover" style="table-layout: fixed;" id="item_table">
			<thead>
				<tr>
					<td style="width: 90px;">Item No.</td>
					<td style="width: 440px;">Description</td>
					<td style="width: 150px;">Unit</td>
					<td style="width: 100px;">Qty</td>
					<td style="width: 100px;">Cost</td>
					<td style="width: 150px;">Total</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<button class="btn btn-success mb-2" id="add_item" data-target = "#itemModal" data-toggle="modal" onclick="addItem(event)">Add Items</button>
</div>
